.detail_container {
  margin: 0 auto;
  width: 90%;

  @media (min-width: 1150px) {
    width: 85%;
    padding-bottom: 12.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    section {
      width: 45%;
    }
  }
}
.web_title {
  display: none;
  font-size: 4rem;
  margin-bottom: 3.125rem;
  font-weight: 600;
  @media (min-width: 1150px) {
    display: block;
  }
}
.mobile_title {
  font-size: 2rem;
  padding: 3.125rem 0;
  font-weight: 600;
  width: 100%;
  margin: auto;
  @media (min-width: 1150px) {
    display: none;
  }
}

.marketplaces {
  display: flex;
  margin: 0 auto 3.125rem;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.marketplace_item {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  p {
    font-size: 0.65rem;
  }
  h4 {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
.marketplaces .marketplace_item:not(:last-child) {
  border-right: 1px solid #cacaca;
}

.info {
  color: #1f1f1f;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 4.375rem;
}

.key_feature_container {
  @media (min-width: 1150px) {
    display: flex;
    gap: 1.5rem;
  }
  h5 {
    font-weight: 500;

    @media (max-width: 1150px) {
      margin-bottom: 0.5rem;
    }
  }
  ul {
    list-style-type: none;
    @media (min-width: 1150px) {
      padding-left: 1.5rem;
      border-left: 1px solid #dad6da;
    }
  }
}

.slider_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1150px) {
    margin-bottom: 4rem;
  }
}

.work_pagination {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  @media (min-width: 1150px) {
    width: 100%;
    position: absolute;
    top: 45vh;
  }

  a {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.875rem;
    border-radius: 50%;
    background: #e43333 url(/image/arrow-white.svg) no-repeat 50%;
    background-size: 12px 9px;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 10%);
    transition: box-shadow 0.5s;

    @media (min-width: 1150px) {
      width: 8rem;
      height: 8rem;
      background-position: 30% 50%;
      transition: transform 0.25s cubic-bezier(0.7, 0.21, 0.54, 1.38),
        box-shadow 0.5s;
    }
  }

  @media (max-width: 1150px) {
    margin-top: 4rem;
  }
}

.work_pagination a:first-child {
  transform: rotateY(180deg);
  @media (min-width: 1150px) {
    transform: rotateY(180deg) scale(0.8);
    margin-left: -4rem;
    &:hover {
      transform: rotateY(180deg) scale(110%);
    }
  }
}

.work_pagination a:last-child {
  @media (min-width: 1150px) {
    transform: scale(0.8);
    margin-right: -4rem;
    &:hover {
      transform: scale(110%);
    }
  }
}
