.container {
  display: flex;
  justify-content: space-between;
  color: #1f1f1f;
  align-items: center;
  padding: 1rem 3.5rem;
  @media (max-width: 980px) {
    padding: 1rem 1rem;
  }
}

.logo {
  width: auto;
  height: 1rem;
  fill: #d5333e;
}
.mobile_nav {
  @media (max-width: 980px) {
    display: none;
    top: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    ul {
      flex-direction: column;
      justify-content: center;
      li {
        a,
        button {
          padding: 0;
          opacity: 0;
          color: white !important;
          font-weight: 700;
          font-size: 1.5rem;
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
.nav {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  ul {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    align-items: center;

    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-weight: 400;

      a {
        color: #1f1f1f;

        &::after {
          content: " ";
          display: block;
          width: 0;
          height: 1px;
          margin-top: 0.25rem;
          background: currentColor;
          transition: width 0.5s cubic-bezier(0.4, 0.6, 0.6, 1);
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      button {
        background: #3a2837;
        padding: 1rem 1.25rem;
        border-radius: 5rem;
        color: white;
        cursor: pointer;
        transition: transform 0.3s cubic-bezier(0.4, 0.6, 0.6, 1);

        &:hover {
          transform: scale(105%);
        }
      }
    }
  }
}
.mobile_menu_icon {
  background: #3a2837;
  transition: all 0.6s cubic-bezier(0.2, 1, 0.2, 1) 0s;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;

  & > span {
    width: 0;
    height: 0;
    min-height: 0;
    min-width: 0;
    transition: all 0.9s cubic-bezier(0.2, 1, 0.2, 1) 0s;
    z-index: 5;
    position: absolute;
    border-radius: 50%;
    background: #3a2837;
  }
}

.mobile_menu_icon_list {
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  height: 1.5rem;
  gap: 0.5rem;
  justify-content: center;

  & > div {
    background-color: white;
    height: 2px;
    width: 100%;
    justify-content: center;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  }
}

.open_active {
  position: relative;
  z-index: 20;
  div {
    opacity: 0;
  }
  div:last-child {
    opacity: 1;
    left: 0;
    position: absolute;
    transform: rotate(45deg);
  }
  div:first-child {
    opacity: 1;
    left: 0;
    position: absolute;
    transform: rotate(-45deg);
  }
}

.mobile_menu_container {
  width: 3rem;
  height: 3rem;
  display: none;
  @media (max-width: 980px) {
    display: block;
  }
}

.open_active_ul {
  @media (max-width: 980px) {
    display: flex !important;
    li {
      a,
      button {
        opacity: 1;
        animation: fade_in_up 1.25s cubic-bezier(0.2, 1, 0.2, 1) 0.1s both;
        @keyframes fade_in_up {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }
}

.active_link {
  a {
    font-weight: 700;
  }
}

.media_icon {
  display: none;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 3rem;

  img {
    filter: invert(1);
  }

  @media (max-width: 980px) {
    display: flex;
    animation: fade_in_up 1.25s cubic-bezier(0.2, 1, 0.2, 1) 0.1s both;
    @keyframes fade_in_up {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
.media_icon_link {
  cursor: pointer;
}

.let_chat {
  display: none;
  @media (max-width: 980px) {
    display: flex;
  }
}

.active {
  width: 200vh !important;
  min-width: 220vw !important;
  height: 200vh !important;
  min-height: 220vw !important;
}